body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#overlay, #gameover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#gameover {
    z-index: 20;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#names, #info, #tips, #gameover-box {
    position: absolute;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    font-size: 18px;
}

#names {
    top: 15px;
    left: 15px;
}

#info {
    top: 15px;
    right: 15px;
}

#tips {
    left: 15px;
    bottom: 15px;
}

#title, #info-title, #tips-title, #gameover-title {
    color: rgb(200, 10, 10);
    font-style: italic;
    font-size: 30px;
    font-family: 'Titan One';   
}

#title {
    font-size: 40px;
}

#gameover-box {
    flex: 0 0 auto;
    text-align: center;
}

#you-lost {
    font-size: 60px;
    margin-bottom: 10px;
}

#reset {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

#reset:hover {
    background-color: black;
    color: white;
}

#try-again {
    margin-top: 15px;
}